.cells {
  width: 75px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  cursor: pointer;
  font-size: 50px;
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}

#gameDiv {
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

#restartBtn {
  font-family: "Permanent Marker", cursive;
  color: steelblue;
  width: 100px;
  height: 30px;
  cursor: pointer;
}
